@media screen and (min-width: 32em){
    body{
        display:grid;
        grid-template-columns: 1fr;
        max-width: 800px;
        margin-left: 150px;
    }
    h1{
        color:blue;

    }

}