@media only screen and (min-width: 38rem){
    body{
        display:grid;
        grid-template-columns: 1fr;
        max-width: 800px;
        padding: 150px;
    }

    aside{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    aside img{
        width: 200px;
        height: 200px;
        display: flex;
        flex-direction: row;
    }

}