@media only screen and (min-width: 38rem){
    body{
        display:grid;
        grid-template-columns: 1fr;
        max-width: 800px;
        margin-left: 150px;
    }
    h1{
        color:blue;

    }
    aside{
        display: flex;
        flex-direction: column;
    }

}