body{
    display:grid;
    grid-template-columns: 1fr;
}
header{
    display: flex;
    background-color: lightgray ;
}
h1{
    margin-left: 100px;
    color:green;
    padding: 10px;
}
h2{
    color:green;
}
h3{
    color: blue;
}
h4{
    color:darkgreen;
}
p{
    font-weight: 400;
    font-size: large;
    padding: 15px;
}
p span{
    font-weight: 700;
}
aside{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
}
aside 
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
caption{
    padding: 10px;
    text-align: center;
}
a{
    color:red;
}
a:hover{
    color:green;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    text-align: center;;

}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  width: auto;
}
thead,tr{
  background-color: rgb(200 220 240);
}
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
th {
  text-align: center;
  font-weight: bold;
}