@media only screen and (min-width: 32rem){
    body{
        display:grid;
        grid-template-columns: 1fr;
    }
    h1{
        color:blue;

    }
    aside{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

}