body{
    display:grid;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    margin: ;
    width: auto;

}
.header{
    display: flex;
    background-color: lightgray ;
    width: auto;
}
h1{
    color:green;
}
main{
    margin: 20px;
}
h2{
    color:green;

}
h3{
    color:green;
}
h4{
    color:darkgreen;
}
p{
    font-weight: 400;
    font-size: large;

}
p span{
    font-weight: 700;
}

aside img{
    display: flex;
    flex-direction: column;
}
section{
    margin: 20px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
caption{
    text-align: center;
}
a{
    color:red;
}
a:hover{
    color:green;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: small;
    color: white;
    text-align: center;
    width: auto;

}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  margin: 20px;
}
thead,tr{
  background-color: rgb(200 220 240);
}
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  text-align: center;
  padding: 0 8px;
}
th {
  text-align: center;
  font-weight: bold;
}
.ad-space{
margin: 0 20px;
text-align:center;
min-height: 250px;
}